
@import url('https://fonts.googleapis.com/css2?family=New+Tegomin&display=swap');
*{
    padding: 0;
    margin: 0;
}

.body{
    background: url("img/bg.jpg"); 
    min-height: 100vh;
    background-size: 100vw 100vh;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    align-items: center;
}

#scoreBox{
    position: absolute;
    top: 9px;
    right: 200px;
    font-size: 39px;
    font-weight: bold;
    font-family: 'New Tegomin', serif;
}

#hiscoreBox{
    position: absolute;
    top: 59px;
    right: 140px;
    font-size: 39px;
    font-weight: bold;
    font-family: 'New Tegomin', serif;
}

#board{
    background: linear-gradient(rgb(124, 233, 124), rgb(222, 222, 95));
    width: 90vmin;
    height: 92vmin;
    border: 2px solid black;
    display: grid;
    grid-template-rows: repeat(18, 1fr);
    grid-template-columns: repeat(18, 1fr);
}

.head{
    background: linear-gradient(rgb(3, 74, 21), rgb(228, 228, 129));
    border: 2px solid rgb(34, 4, 34); 
    transform: scale(1.02);
    border-radius: 9px;
    border-style: outset;
    border-color: rgb(27, 138, 75);
    border-width: 2px;
}

.snake{
    background: linear-gradient(rgb(3, 74, 21), rgb(228, 228, 129));
    border: .25vmin solid white;
    border-radius: 12px;
    border-style: outset;
    border-color: rgb(27, 138, 75);
    border-width: 2px;
}

.food{
    background: linear-gradient(rgb(219, 20, 20), rgb(226, 159, 14));
    height: 25px;
    width: 25px;
    border-radius: 50%;
    display: inline-block;
    border-style: outset;
    border-color: coral;
    border-width: 1px;

}